
.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(85, 126, 139, 1);
    width: 955px;
    height: 736px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 144px 243px 144px 242px;
}

.box {
    display: grid;
    grid-template-columns: auto auto;
    background: black;
}

.card1, .card2 {
    width: 410px;
    height: 400px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .avatar{
    width: 203px;
    height: 267px;
}

#monster .avatar{
    width: 208px;
    height: 320px;
}

.card3, .card4 {
    width: 410px;
    height: 200px;
    background-color: black;
}

.health-img {
    width: 25px;
    height: 25px;
}

.health-bar-outer {
    background: #171217;
    height: 1vh; 
    width:90%;
    margin: 0 5%;
    border-radius: 2px;
}

.health-bar-outer .health-bar-inner {
    background: #466d34;
    height: 100%;
    border-radius: 2px;
}

.health-bar-outer .health-bar-inner.danger {
    background:#d1435f;
}